@import '../../styles/config.scss';

.chipContainer {
  background-color: #E3E8EB;
  font-size: 11px;
  margin-right: 10px;
  padding: 3px 6px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
}
