
form.invite {
  max-width: 600px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: max-content;


  label, select{
    width: 400px;
  }
  .box {
    display: flex;
    justify-content: space-between;

    select {
      color: black;
      padding: 12px;
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 1rem;
      border-radius: 0.25rem;
      transition: all 0.2s ease-in-out 0s;
      background: rgba(28, 27, 31, 0.09);
      border: 1px solid rgb(232, 232, 233);
      box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
      -webkit-appearance: button;
      outline: none;


    }
  }
  Button {
    margin-left: auto;
  }
}

