@import "../../styles/config.scss";

.container {
  font-family: "D-DIN Exp";
  position: relative;
  margin-bottom: 1rem;
}

.fullWidth {
  width: 100% !important;
}

.input-group {
  align-items: center;
  display: grid;
  gap: 1em;
  grid-template-areas: "label field";
  grid-template-columns: auto 1fr;

  &__label {
    grid-area: label;
    width: 250px;

    &--hidden {
      display: none;
    }
  }

  &--bold {
    font-weight: bold;
  }

  &__error {
    color: $red-color;
    font-size: 0.75rem;
    font-weight: bold;
    position: absolute;
    text-transform: uppercase;
  }
}

.dropdown-indicator {
  fill: $secondary-color;
  padding-left: 0 !important;
}

@media only screen and (max-width: $viewport-lg) {
  .input-group {
    gap: 0.5em;
    grid-template-areas:
      "label"
      "field";
    grid-template-columns: 1fr;
    grid-template-rows:
      max-content /* header */
      max-content; /* content */
  }
}
