# TODO: cleanup/refactor
# NOTE: VALID TARGET_APP_NAME values:
#   client-accounts, client-authentication, client-primaries
#   silver-administration, silver-authentication, silver-dataroom, silver-onboarding, silver-primaries

include:
  - local: .gitlab/ci/downstream_pipelines.gitlab-ci.yml
  - local: .gitlab/ci/triggers.gitlab-ci.yml

variables:
  DOCKER_REGISTRY_IMAGE: $CI_REGISTRY_IMAGE
  DOCKER_IMMUTABLE_IMAGE_TAG: $CI_COMMIT_REF_SLUG-$CI_COMMIT_SHORT_SHA-$TARGET_APP_NAME

image: "docker:latest"
services:
  - "docker:dind"

stages:
  - pre-deploy
  - deploy

Pre-Deploy:Exp:
  stage: pre-deploy
  variables:
    TARGET_ENVIRONMENT: "exp-difc"
    SOURCE_BRANCH: "develop"
  extends:
    - .trigger_downstream_deploy_pipelines_config

Pre-Deploy:Dev:
  stage: pre-deploy
  variables:
    TARGET_ENVIRONMENT: "dev-difc"
    SOURCE_BRANCH: "develop"
  extends:
    - .trigger_downstream_deploy_pipelines_config
  when: manual

.Pre-Deploy:UAT:
  stage: pre-deploy
  variables:
    TARGET_ENVIRONMENT: "uat-difc"
    SOURCE_BRANCH: "develop"
  extends:
    - .trigger_downstream_deploy_pipelines_config
  when: manual

Pre-Deploy:Staging:
  stage: pre-deploy
  variables:
    TARGET_ENVIRONMENT: "staging-difc"
    SOURCE_BRANCH: "master"
  extends:
    - .trigger_downstream_deploy_pipelines_config
  when: manual

Pre-Deploy:Prod:
  stage: pre-deploy
  variables:
    TARGET_ENVIRONMENT: "prod-difc"
    SOURCE_BRANCH: "production"
  extends:
    - .trigger_downstream_deploy_pipelines_config
  when: manual

Deploy:Client_Account:
  variables:
    TARGET_APP_NAME: "client-account"
    APP_SUBDOMAIN: "account"
  extends:
    - .downstream_deploy_pipeline_config
  rules:
    - if: $CI_IS_DEPLOYABLE_GLOBAL || $CI_IS_DEPLOYABLE_CLIENT_ACCOUNT

Deploy:Client_Authentication:
  variables:
    TARGET_APP_NAME: "client-authentication"
    APP_SUBDOMAIN: "auth"
  extends:
    - .downstream_deploy_pipeline_config
  rules:
    - if: $CI_IS_DEPLOYABLE_GLOBAL || $CI_IS_DEPLOYABLE_CLIENT_AUTHENTICATION

Deploy:Client_Custody:
  variables:
    TARGET_APP_NAME: "client-custody"
    APP_SUBDOMAIN: "custody" # !IDK WHY THIS IS NEEDED AT ALL...¯\_(ツ)_/¯
  extends:
    - .downstream_deploy_pipeline_config
  rules:
    - if: $CI_IS_DEPLOYABLE_GLOBAL || $CI_IS_DEPLOYABLE_CLIENT_CUSTODY

Deploy:Internal_Admin:
  variables:
    TARGET_APP_NAME: "silver-administration"
    APP_SUBDOMAIN: "internal-admin"
  extends:
    - .downstream_deploy_pipeline_config
  rules:
    - if: $CI_IS_DEPLOYABLE_GLOBAL || $CI_IS_DEPLOYABLE_SILVER_ADMINISTRATION

Deploy:Internal_Auth:
  variables:
    TARGET_APP_NAME: "silver-authentication"
    APP_SUBDOMAIN: "internal-auth"
  extends:
    - .downstream_deploy_pipeline_config
  rules:
    - if: $CI_IS_DEPLOYABLE_GLOBAL || $CI_IS_DEPLOYABLE_SILVER_AUTHENTICATION

Deploy:Internal_Custody:
  variables:
    TARGET_APP_NAME: "helium-custody"
    APP_SUBDOMAIN: "internal-custody" # !IDK WHY THIS IS NEEDED AT ALL...¯\_(ツ)_/¯
  extends:
    - .downstream_deploy_pipeline_config
  rules:
    - if: $CI_IS_DEPLOYABLE_GLOBAL || $CI_IS_DEPLOYABLE_HELIUM_CUSTODY

Deploy:Internal_Onboarding:
  variables:
    TARGET_APP_NAME: "silver-onboarding"
    APP_SUBDOMAIN: "internal-onboarding"
  extends:
    - .downstream_deploy_pipeline_config
  rules:
    - if: $CI_IS_DEPLOYABLE_GLOBAL || $CI_IS_DEPLOYABLE_SILVER_ONBOARDING
