@import "../../styles/config.scss";

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 560px;
  width: 100%;

  &__descriptor {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.5rem;
    color: $darkgray-color;

    &__wrapper {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    &--bold {
      font-weight: 700;
    }
  }
}

.submit-btn {
  align-self: flex-end;
}

.success-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.success {
  display: flex;
  flex-direction: column;

  &__descriptor {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.5rem;
    color: $darkgray-color;

    &--bold {
      font-weight: 700;
    }
  }

  &__message {
    text-align: center;
  }

  &__icon {
    fill: $logo-color;

    &__wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}

.otp {
  &__container {
    margin-bottom: 2rem;
    justify-content: space-between !important;
  }

  &__input {
    font-size: 3rem;
    color: $primary-color !important;

    &--focus {
      outline: $primary-color auto 1px !important;
    }
  }
}

.input-group {
  margin-bottom: 1rem;
  align-items: center;
  display: grid;
  gap: 1em;
  grid-template-areas: "label field";
  grid-template-columns: auto 1fr;

  &__label {
    grid-area: label;
    width: 250px;
  }
}
