@import '../../../styles/config.scss';

.columnManager {
  &__list {
    padding: 8px;
    width: 100%;
    height: 100%;

    &--active {
      background-color: $gray-color;
    }

    &--inactive {
      background-color: $lightgray-color;
    }
  }

  &__column {
    border-radius: 2px;
    padding: 8px;
    user-select: 'none';
    margin: 0 0 8px 0;

    &--hidden {
      color: $darkgray-color;
      background-color: $verylightgray-color;
      border: 2px solid $verylightgray-color;
    }

    &--shown {
      background-color: white;
      border: 2px solid white;
    }

    &--active {
      border: 2px solid $lightsecondary-color;
    }

    &--inactive {
      border: auto;
    }
  }

  &__swap {
    &__wrapper {
      position: relative;
    }

    &__icon {
      position: fixed;
      top: 40vh;
    }
  }
}
