@import '../../styles/config.scss';

.flex {
  display: flex;
  &--column {
    flex-direction: column;
  }

  &--row {
    flex-direction: row;
  }
}

.wrap {
  &--flex {
    flex-wrap: wrap;
  }
}

.justify-content {
  &--center {
    justify-content: center;
  }
  &--end {
    justify-content: flex-end;
  }
  &--start {
    justify-content: flex-start;
  }
  &--between {
    justify-content: space-between;
  }
  &-around {
    justify-content: space-around;
  }
}

.width {
  &--25 {
    width: 25%;
  }
  &--50 {
    width: 50%;
  }
  &--75 {
    width: 75%;
  }
  &--100 {
    width: 100%;
  }
}

.height {
  &--25 {
    height: 25%;
  }
  &--50 {
    height: 50%;
  }
  &--75 {
    height: 75%;
  }
  &--100 {
    height: 100%;
  }
  &--auto{
    height: 100%;
  }
}
