@import '../../styles/config.scss';

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 560px;
  width: 100%;

  &__descriptor {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.5rem;
    color: $darkgray-color;

    &__wrapper {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    &--bold {
      font-weight: 700;
    }
  }
}

.submit-btn {
  align-self: flex-end;
}
