@import '../../styles/config.scss';

.container {
  height: 100%;
  width: 100%;
  padding: 3rem;

  &__section {
    padding: 3rem;
  }
}

.divider {
  height: 100%;
  background-color: $primary-color !important;
}

.otp {
  &__container {
    margin-bottom: 2rem;
    justify-content: space-between !important;
  }

  &__input {
    font-size: 3rem;
    color: $primary-color !important;

    &--focus {
      outline: $primary-color auto 1px !important;
    }
  }
}
