@import '../../styles/config.scss';

.input {
  &__form_control {
    width: 100%;
  }
}

.bold {
  font-weight: 700;
}

.indication {
  &__offer {
    color: #fff;
    font-weight: 700;
    padding: 0.25rem;
    padding-left: 1rem;
    border-radius: 4px;
    margin-bottom: 1rem;
    background-color: #b10909;
  }

  &__bid {
    color: #fff;
    font-weight: 700;
    padding: 0.25rem;
    padding-left: 1rem;
    border-radius: 4px;
    margin-bottom: 1rem;
    background-color: #027021;
  }
}
