@import "../../styles/config.scss";

.container {
  &__root {
    height: 100vh;
    max-width: 100vw;
    // display: flex;
  }

  &__content {
    flex-grow: 1;
    height: 100%;
    padding: 1rem;
    // padding: 5rem 1rem;
    width: calc(100% - #{$sidebar-width}) !important;

    &__left {
      margin-left: -$sidebar-width;
    }

    &__right {
      margin-right: -$sidebar-width;
    }
  }

  &__contentShift {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

.drawerHeader {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  justify-content: flex-end;
}

.bodyContainer {
  display: flex;
  height: 100%;
}
