@import "../../styles/config.scss";

.alignRight {
  text-align: end;
}

.block {
  display: block;
  width: 100%;
  margin-top: 2rem;
  padding: 1rem 1.5rem;
  height: 3rem;
  text-align: center;
}

.buttonCheckbox {
  background-color: $primary-color;
  color: #fff;
  display: inline-block;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
}

.issuanceDataTable {
  .tableHeader {
    display: flex;
    justify-content: space-between;
    .tableHeading {
      font-weight: bold;
      margin-bottom: 0;
    }
  }

  .tableCol {
    flex: 1;
    &__right {
      text-align: right;
    }

    &__left {
      text-align: left;
    }

    p {
      margin-top: 0;
      margin-bottom: 10px;
    }
  }

  .actionButton {
    height: 2rem;
    margin-bottom: 0;
    margin-right: 1rem;
    span {
      color: #fff;
    }
  }

  .tableBody {
    .tableRow {
      cursor: pointer;
      .rowData {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
