$black-color: #363636;
$darkgray-color: #4e4e4e;
$darksecondary-color: #17ac9f;
$gray-color: #9a9a9a;
$green-color: #12d201;
$lightgray-color: #e6e6e6;
$lightorange-color: #edbc5f;
$lightprimary-color: #4c69f5;
$lightred-color: #eb9d9d;
$lightsecondary-color: #7bede4;
$lightselection-color: #8d99bf;
$logo-color: #243871;
$navy-blue-color: #173870;
$orange-color: #fea600;
$primary-color: #23389c;
$red-color: #eb0000;
$salmon-color: #c22d3e;
$secondary-color: #28ccbf;
$selection-color: #3a5194;
$verylightgray-color: #f7f7f7;
$verylightsecondary-color: #b6dad7;
