@import '../../styles/config.scss';

.sectionBreak {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #979797;
  width: 100%;
}

.input {
  &__form_control {
    width: 100%;
  }
}

.detailsWrapper {
  background-color: $lightgray-color;
  padding: 1rem;
  border-radius: 6px;
}
